{:paths ["src"]
 :deps
 {binaryage/devtools {:mvn/version "1.0.6"}
  cider/cider-nrepl {:mvn/version "0.28.7"}
  reagent/reagent {:mvn/version "1.2.0"}
  stylefy/stylefy {:mvn/version "3.2.0"}
  stylefy/reagent {:mvn/version "3.0.0"}
  re-frame/re-frame {:mvn/version "1.4.3"}
  emotion-cljs/emotion-cljs {:mvn/version "0.2.2"}
  cljs-bach/cljs-bach {:mvn/version "0.3.0"}
  metosin/reitit {:mvn/version "0.7.0"}}
 :aliases
 {:cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.28.11"}}
   :override-deps
   {garden/garden {:git/url "https://github.com/noprompt/garden.git"
                   :git/sha "633785768136ed9b7338db60a4f14661ef44c453"}}}}}
