;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[binaryage/devtools "1.0.6"]
  [cider/cider-nrepl "0.28.7"]
  [reagent "1.1.1"]
  [arttuka/reagent-material-ui "5.10.1-0"]
  [re-frame "1.3.0"]
  [stylefy "3.2.0"]
  [stylefy/reagent "3.0.0"]
  [cljs-bach "0.3.0"]
  [metosin/reitit "0.5.18"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [app.core]}}
        :release {:compiler-options {:infer-externs :auto
                                     :output-feature-set :es6}}
        :devtools {:autoload true
                   :before-load app.core/stop
                   :after-load app.core/main
                   :http-root "public"
                   :http-port 8080}}
  :worker {:target :browser
           :output-dir "public/js"
           :modules {:worker {:entries [app.worker]
                              :web-worker true}}
           :release {:compiler-options {:infer-externs :auto}}}}}
